<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:utext="${title}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script th:inline="javascript">
    var real_data = /*[[${names}]]*/'noValue';
    $(document).ready(function() {
        $("#nameInput").autocomplete({
            minLength : 1,
            source : "http://localhost:8080/search",
            select : function(e, ui) {
                $("#nameOutput").text('You have selected : ' + ui.item.value);
                return ui.item.value;
            }
        })
    });

    </script>
</head>
<body>
<h1 th:utext="${title}"/>
<a th:href="@{/contacts}">Contact List</a>
<br/><br/><br/><br/>
<div class="ui-widget">
    <label for="nameInput">search Name: </label><input id="nameInput"/>
    <h3 id="nameOutput"></h3>
</div>
<br/><br/><br/><br/>
</body>
</html>